/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0fee;
}

/* Encabezado de la página */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #0000007a;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Logo del encabezado */
#logo {
    height: 150px;
}

/* Imágenes */
img {
    height: 30px;
}

/* Estilos del carrito */
#carrito {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #16161659;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Título del carrito */
#carrito h2 {
    margin-top: 0;
}

/* Galería de productos */
#product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para cada producto */
.product {
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #343434;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.productdelete{
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: #343434;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Imágenes dentro de los productos */
.product img {
    max-width: 100%;
    height: auto;
}

/* Botones de los productos */
.product button {
    background-color: #05283ad3;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo del botón al pasar el cursor */
.product button:hover {
    background-color: #213e88;
}
